* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

ul li {
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.hover:hover {
    background-color: #eee;
}

ul li a {
    color: #ababab;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: 0.2s;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

.the-nav-bar {
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

ul li ul li a {
    font-size: 12px;
}

ul li ul li {
    width: 180px;
    background-color: white;
    border: 1px solid #ddd;
    border-bottom: none;
}

ul li a:hover {
    color: #00b39b;
}

@media screen and (max-width: 570px) {
    .two-text {
        display: block;
    }
    .the-nav-bar {
        display: block;
    }
}

@media screen and (min-width: 570px) {
    .two-text {
        display: flex;
    }
    .the-nav-bar {
        display: flex;
    }
}

@media screen and (max-width: 920px) {
    ul li ul li {
        margin-left: -92px;
    }
    .top,
    .bot {
        display: block;
    }
}

@media screen and (min-width: 920px) {
    .top,
    .bot {
        display: flex;
    }
}

main {
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-logo {
    margin: 30px;
}

main>h1 {
    font-size: 2.125rem;
    color: #00b39b;
    margin: 1em 0;
    margin-top: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.two-text {
    max-width: 1000px;
}

.two-text p {
    padding: 20px;
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
    color: #747474;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blocks div {
    padding: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #00b39b;
    flex-wrap: wrap;
    font-size: 20px;
    max-width: 400px;
    border-radius: 15px;
}

.blocks div h3 {
    font-size: 15px;
    margin-bottom: 20px;
    color: #eee;
    opacity: 0.8;
}

select {
    width: 180px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

svg {
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
    overflow: hidden;
    fill: hsla(0, 0%, 67%, 0.7);
    transition: 0.2s;
}

svg:hover {
    fill: #00b39b;
}

.svgs {
    max-width: 900px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.svgs p {
    font-size: 1.5em;
    color: #00b39b;
}

#container {
    display: flex;
    background-color: #e5faf8;
    justify-content: space-around;
    padding: 40px;
    padding-top: 80px;
}

#container h1 {
    color: #00b39b;
    font-size: 2.125rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
    max-width: 400px;
}

#container p {
    color: #747474;
    max-width: 415px;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.7142857143;
}

.some-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.some-text h1 {
    color: #00b39b;
    font-size: 2.1428571429em;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 70px;
    margin: 30px;
}

.some-text p {
    line-height: 1.7142857143;
    font-size: 0.875em;
    font-weight: 400;
    color: #747474;
    max-width: 460px;
    margin-bottom: 80px;
}

h2 {
    color: #00b39b;
    font-weight: 300;
    letter-spacing: 0.3px;
}

block-cont {
    display: block;
}

.top section,
.bot section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 240px;
    background-color: #fff;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 3%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
}

.card {
    width: 30%;
    justify-content: center;
    border-radius: 2%;
    border: 1px solid #ddd;
    margin-bottom: 4%;
    margin: 10px;
    transition: 0.2s;
}

.card img {
    border-radius: 2% 2% 0 0;
    width: 100%;
}

.card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.card div a {
    padding: 4%;
    background-color: #3d83df;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.card:hover {
    box-shadow: 10px 5px 5px #ddd;
}